.point-cluster {
  position: absolute;
  color: #fff !important;
  z-index: 2000;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
}
.point-cluster.large {
  width: 50px;
  height: 50px;
  line-height: 50px !important;
  border-radius: 50px;
}
.point-cluster.medium {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  border-radius: 40px;
}
.point-cluster.small {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 30px;
}
#point_cluster_overlay {
  position: absolute;
}
.marker-point {
  box-sizing: border-box;
  background: #222;
  box-shadow: 0 0 5px 1px #ccc;
  border: 2px solid #fff;
  color: #fff;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  cursor: pointer;
}
.fadePins {
  border: 0 solid #fff;
  height: 4px;
  width: 4px;
  border-radius: 4px;
}
.PointHoverState {
  -webkit-box-shadow: 0 0 5px 20px rgba(146, 155, 168, 0.3);
  box-shadow: 0 0 5px 20px rgba(146, 155, 168, 0.3);
  background: red;
  cursor: pointer;
}
